@model CyberLibrary2.Models.ViewModel.Filtro
@{
    ViewData["Title"] = "Empréstimo de Livros";
}

@section Styles {
    <link rel="stylesheet" href="/css/aluno.css" asp-append-version="true" />
}

@section Scripts {
    <script src="/js/Configures.js" asp-append-version="true"></script>
}

<div class="Separation">
    <div class="book-section">
        <div class="head">
            <h1>Recomendados para você</h1>
        </div>
        <section class="book-carousel">
            @if (Model.RecommendedBooks != null && Model.RecommendedBooks.Any())
            {
                @foreach (var book in Model.RecommendedBooks)
                {
                    <div class="book-item" data-book-id="@book.Id" data-title="@book.Titulo" data-author="@book.Autor"
                        data-description="@book.Sinopse">
                        <img src="@(book.CapaImagem != null ? "data:image/jpeg;base64," + Convert.ToBase64String(book.CapaImagem) : "https://via.placeholder.com/150")"
                            alt="@book.Titulo Cover">
                        <p>@book.Titulo</p>
                        <div class="book-options">
                            <i class="fas fa-ellipsis-h"></i>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Nenhum livro recomendado encontrado.</p>
            }
        </section>
    </div>

   